.navmain{
padding: 5px;
padding-left: 10px;
/* background-color: rgb(64, 64, 255); */
color: white;
position: sticky;
top: 0;
z-index: 5000000;
}
.inernavmain{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    cursor: pointer;
}
